#Workdir is the path to the directory where this program will run data
#workdir must end with trailing "/"
workdir=
#Path to the mirbase database. Go to http://www.mirbase.org or download latest from: ftp://mirbase.org/pub/mirbase/CURRENT/
MIRBASE=${HOME}/source_data/mirbase/mirbase21/mature.fa
#Used by java
MEMORY="29g"
#Set this to the max number of processed that can be used
THREADS=1
#Path to the directory to get the input data
INSERTS_DIR=${HOME}/source_data/inserts
#Path to the genome to be used
GENOME=
#Path to the genome to be used by mircat. Leave this is no memory resctrictions apply to your case. Check manual on using parts
GENOME_MIRCAT=$GENOME
#The suffix of the filter to be used. Check /config/workbench_filter_*.cfg
FILTER_SUF=18_26_5
#LCSciences
ADAPTOR="TGGAATTCTCGGGTGCCAAGG"
LCSCIENCE_LIB=
#These var are only used for target prediction (PAREsnip)
TRANSCRIPTOME=
DEGRADOME=
